*.log
.DS_Store
.env
.env.local
.env.backup
.env.production.local
/.fleet
/.idea
/.vscode
/.zed
.next/
node_modules/
.git/
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
Thumbs.db
public/
src/
eslint.config.mjs
next.config.ts
tsconfig.json
postcss.config.mjs
components.json
README.md
package-lock.json